{% extends 'base.html' %}
{% block content %}
  {% include 'navbar.html' %}
  <div class="table-responsive">
    <table class="table">
      <thead class="table-light">
        <tr>
          <th scope="col">Bug</th>
          <th scope="col">Description</th>
          <th scope="col">Status</th>
          <th scope="col">Priority</th>
          <th scope="col">Created</th>
          <th scope="col">Due</th>
        </tr>
      </thead>
      <tbody>
        {% for bug in bugs %}
        <tr>
          <th scope="row">
            <a href="{% url 'bug' id=bug.id %}" class="text-decoration-none">
              {{ bug.name }}
            </a>
          </th>
          <td>{{ bug.description|truncatechars:40 }}</td>
          <td>
            <span class="badge 
            {% if bug.status == 'Open' %}
              bg-danger
            {% elif bug.status == 'In progress' %}
              bg-secondary
            {% elif bug.status == 'To be tested' %}
              bg-info
            {% elif bug.status == 'Reopen' %}
              bg-warning
            {% else %}
              bg-success
            {% endif %}
            ">{{ bug.status }}</span>
          </td>
          <td>{{ bug.priority }}</td>
          <td>{{ bug.creation_date }}</td>
          <td>{{ bug.due_date }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}