{% extends 'base.html' %}
{% block content %}
  {% include 'navbar.html' %}
  <div class="container-fluid mt-3">
    <div class="row g-2">
      <div class="col">
        <div class="card text-dark bg-light mb-2">
          <div class="card-header">Total Bugs</div>
          <div class="card-body">
            <h1 class="card-title">{{ total_count }}</h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-danger mb-2">
          <div class="card-header">Open</div>
          <div class="card-body">
            <h1 class="card-title">{{ open_count }}</h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-secondary mb-2">
          <div class="card-header">In Progress</div>
          <div class="card-body">
            <h1 class="card-title">{{ in_progress_count }}</h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-info mb-2">
          <div class="card-header">To Be Tested</div>
          <div class="card-body">
            <h1 class="card-title">{{ to_be_tested_count }}</h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-success mb-2">
          <div class="card-header">Closed</div>
          <div class="card-body">
            <h1 class="card-title">{{ closed_count }}</h1>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card text-white bg-warning mb-2">
          <div class="card-header">Reopen</div>
          <div class="card-body">
            <h1 class="card-title">{{ reopen_count }}</h1>
          </div>
        </div>
      </div>
    </div>
    <div class="row g-2">
      <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
      <div class="col-lg-4">
        <div class="card text-dark bg-light mb-2">
          <div class="card-header">Latest</div>
          <div class="card-body p-0">
            <div class="table-responsive">
              <table class="table mb-0">
                <thead class="table-light">
                  <tr>
                    <th scope="col">Bug</th>
                    <th scope="col">Status</th>
                    <th scope="col">Priority</th>
                  </tr>
                </thead>
                <tbody>
                  {% for bug in latest_bugs %}
                  <tr>
                    <th scope="row">
                      <a href="{% url 'bug' id=bug.id %}" class="text-decoration-none">
                        {{ bug.name }}
                      </a>
                    </th>
                    <td>
                      <span class="badge 
                      {% if bug.status == 'Open' %}
                        bg-danger
                      {% elif bug.status == 'In progress' %}
                        bg-secondary
                      {% elif bug.status == 'To be tested' %}
                        bg-info
                      {% elif bug.status == 'Reopen' %}
                        bg-warning
                      {% else %}
                        bg-success
                      {% endif %}
                      ">{{ bug.status }}</span>
                    </td>
                    <td>{{ bug.priority }}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4">
        <div class="card text-dark bg-light mb-2">
          <div class="card-header">Status</div>
          <div class="card-body">
            <canvas id="status-chart"></canvas>
          </div>
        </div>
        <script>
          const statusConfig = {
            type: 'doughnut',
            data: {
              labels: ['Open', 'In Progress', 'To Be Tested', 'Closed', 'Reopen'],
              datasets: [{
                data: [
                  {{ open_count }},
                  {{ in_progress_count }},
                  {{ to_be_tested_count }},
                  {{ closed_count }},
                  {{ reopen_count }}
                ],
                backgroundColor: ['#DC3545', '#6C757D', '#0DCAF0', '#198754', '#FFC107']
              }]
            },
            options: {
              responsive: true,
              plugins: {
                legend: {position: 'bottom'}
              }
            }
          };
          var statusChart = new Chart(
            document.getElementById('status-chart'),
            statusConfig
          );
        </script>
      </div>
      <div class="col-lg-4">
        <div class="card text-dark bg-light mb-2">
          <div class="card-header">Priority</div>
          <div class="card-body">
            <canvas id="priority-chart"></canvas>
          </div>
        </div>
        <script>
          const priorityConfig = {
            type: 'doughnut',
            data: {
              labels: ['High', 'Normal', 'Low'],
              datasets: [{
                data: [
                  {{ high_count }},
                  {{ normal_count }},
                  {{ low_count }}
                ],
                backgroundColor: ['#DC3545', '#FFC107', '#198754']
              }]
            },
            options: {
              responsive: true,
              plugins: {
                legend: {position: 'bottom'}
              }
            }
          };
          var priorityChart = new Chart(
            document.getElementById('priority-chart'),
            priorityConfig
          );
        </script>
      </div>
    </div>
  </div>
{% endblock %}