{% extends 'base.html' %}
{% load static %}
{% block content %}
  {% include 'navbar.html' %}
  <div class="text-center border-bottom px-4">
    <h1 class="display-6 fw-bold my-5">Insecticide enables seamless bug tracking</h1>
    <div id="bugs-screenshot" class="overflow-hidden">
      <div class="container px-5">
        <img class="img-fluid shadow-lg rounded-3" src="{% static 'bugs.png' %}">
      </div>
    </div>
  </div>
  <div class="container border-bottom p-5">
    <div class="row">
      <div class="col-lg">
        <p class="lead mb-5 mt-lg-5 me-lg-5">Insecticide is a simple, fast, mobile responsive and open source bug tracking system that helps developers to easily record, track and resolve bugs. Built with Django and Bootstrap, Insecticide is highly extensible.</p>
      </div>
      <div class="col-lg">
        <img class="img-fluid shadow-lg rounded-3" src="{% static 'dashboard.png' %}">
      </div>
    </div>
  </div>
{% endblock %}