{% load static %}
<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand mb-0" href="{% url 'index' %}">
      <img src="{% static 'logo_white.png' %}" height="24">
    </a>
    {% if user.is_authenticated %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard' %}"><i class="fas fa-tachometer-alt"></i> Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'projects' %}"><i class="fas fa-tasks"></i> Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'bugs' %}"><i class="fas fa-bug"></i> Bugs</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdownMenu" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              <i class="fas fa-plus"></i>
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenu">
              <li>
                <a class="dropdown-item" href="{% url 'create project' %}">New project</a>
              </li>
              <li>
                <a class="dropdown-item" href="{% url 'create bug' %}">New bug</a>
              </li>
            </ul>
          </li>
        </ul>
        <a class="text-decoration-none" href="{% url 'logout' %}">
          <button type="button" class="btn btn-outline-light">Log out</button>
        </a>
      {% else %}
        <span>
          <a class="text-decoration-none" href="{% url 'login' %}">
            <button type="button" class="btn btn-outline-light">Log in</button>
          </a>
          <a class="text-decoration-none" href="{% url 'signup' %}">
            <button type="button" class="btn btn-primary">Sign up</button>
          </a>
        </span>
      {% endif %}
    </div>
  </div>
</nav>